{% extends "base.html" %}
{% block content %}
<div class="content" align="center">
                <div class="topbar">
                    <h2> Введите результаты матча </h2>
                </div></br></br>
                <div class="contentbar">
                <h1> {{msg}}</h1>
                    </br></br>
                <form action="{{ url_for('admining') }}" method="post" autocomplete="off">

                    <input type="hidden" name ="match_id" value="{{match_id}}" id="match_id">
                    <input type="text" name="team1" placeholder="{{teams1}}" class="textbox" id="team1" >
                    <input type="text" name="team2" placeholder="{{teams2}}" class="textbox" id="team2" ></br></br>

                    <input type="submit" name = "submit_button" class="btn" value="Внести результат"> <input type="submit" name = "submit_button" class="btn" value="Следующий матч">
                </form>

                </div>
</div>
{% endblock %}