<html>
    <head>
        <meta charset="UTF-8">
        <title> register </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Регистрация</h1>
            </div></br></br>
            <div class="registerbottom">
            <form action="{{ url_for('register')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="username" placeholder="Введите логин" class="textbox" id="username" required></br></br>
            <input type="password" name="password" placeholder="Введите пароль" class="textbox" id="password" required></br></br>
            <input type="email" name="email" placeholder="Введите Email" class="textbox" id="email" required></br></br>
            <input type="submit" class="btn" value="Зарегистрироваться">
            </form>
            <p class="wordlight">Уже зарегистрированы? <a class="wordlight" href="{{ url_for('login')}}">Войти</a></p>
            </div>
        </div>
    </body>
</html>