{% extends "base.html" %}
        {% block content %}
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Обновить регистрационные данные </h2>
                </div></br></br>
                <div class="contentbar">
                <h1>Заполните данные для обновления</h1></br>
            <form action="{{ url_for('update') }}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
                    <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br>
                    <input type="email" name="email" placeholder="Enter Your Email ID" class="textbox" id="email" required></br></br>
                    <input type="submit" class="btn" value="Update">
            </form>
                </div>

            </div>
{% endblock %}